body{
    background-color: #D9D9D9;
    margin: 0;
}
.container-fluid{
    padding: 0;
}
.navbar-brand{
    left: 20%;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
.container{
    max-width: 1320px;
}
.col {
    flex: 1 0 0%;
}
